<div class="footer">  
    <div class="container">  
        <div class="column">  
            <img alt="Nha Khoa Parkway logo" src="https://placehold.co/100x50"/>  
            <img alt="Protected by DMCA.com" src="https://placehold.co/100x50"/>  
            <p>Công ty chủ quản: CÔNG TY CỔ PHẦN Y TẾ PW</p>  
            <p>Địa chỉ: 215 Nam Kỳ Khởi Nghĩa, Phường Võ Thị Sáu, Q3, thành phố Hồ Chí Minh.</p>  
            <p>Email: it@nhakhoaparkway.com</p>  
            <p>CMSDN: 0315575273 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp lần đầu ngày 20/03/2019, sửa đổi lần thứ 7 ngày 09/06/2022.</p>  
            <p>Hiệu quả điều trị phụ thuộc vào cơ địa mỗi người (*).</p>  
            <p>Người chịu trách nhiệm nội dung Giám đốc Nguyễn Hữu Thành – SDT: 1900 8059</p>  
        </div>  
        <div class="column">  
            <h3>Giới thiệu</h3>  
            <a href="#">Về Chúng Tôi</a>  
            <a href="#">Bảng Giá Dịch Vụ</a>  
            <a href="#">Tin tức sự kiện</a>  
            <a href="#">Kiến Thức Nha Khoa</a>  
            <a href="#">Chính sách bảo mật</a>  
            <a href="#">Tuyển dụng</a>  
        </div>  
        <div class="column">  
            <h3>Hệ thống phòng khám</h3>  
            <p>Tp. Hồ Chí Minh</p>  
            <p>Hà Nội</p>  
            <p>Các tỉnh</p>  
            <h3>Giờ làm việc</h3>  
            <p>Từ 8:30 tới 18:30 tất cả các ngày trong tuần</p>  
        </div>  
        <div class="column">  
            <h3>Liên hệ</h3>  
            <p>HOTLINE: 1900 8059</p>  
            <div class="social-icons">  
                <a href="#"><i class="fab fa-youtube"></i></a>  
                <a href="https://www.facebook.com/minh.hiep.127064"><i class="fab fa-facebook-f"></i></a>  
                <a href="#"><i class="fas fa-envelope"></i></a>  
            </div>  
        </div>  
    </div>  
</div>