  <!-- Header -->
  <div class="header">
    <h1 style="text-align: center; color: #2c3e50; margin-top: 20px;">
        <strong style="color: #e74c3c;">Trắng Sáng</strong>
    </h1>
    
    <img alt="Company Logo" src="https://files.oaiusercontent.com/file-LZNJA5ndY5KKpSRFsgz5T9?se=2025-02-21T17%3A01%3A25Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Dd09ad295-8d63-4a22-a97a-189fa05dc195.webp&sig=VBggZblZPFttXoR7Uvb5hGCeXULnjcA5Npw8S/wr3zA%3D"/>
    <div class="menu">
        <a href="trangchu">Trang Chủ</a>
        <a href="gioithieu">Giới Thiệu</a>
        <a href="uudai">Ưu Đãi</a>
        <a href="banggia">Bảng Giá</a>
        <div class="dropdown">
            <a href="">Dịch Vụ <i class="fas fa-chevron-down"></i></a>
            <div class="dropdown-content">
                <a href="trongrangimplant">Trồng Răng Implant</a>
                <a href="niengrang">Niềng Răng</a>
                <a href="nhakhoatongquat">Nha Khoa Tổng Quát</a>
                <a href="nhakhoathammy">Nha Khoa Thẩm Mỹ</a>
                <a href="nhakhoatreem">Nha Khoa Trẻ Em</a>
            </div>
        </div>
        <a href="timphongkham">Tìm Phòng Khám</a>
        <div class="dropdown">
            <a href="dangnhap">Đăng nhập <i class="fas fa-chevron-down"></i></a>
            <div class="dropdown-content">
                <a href="dangnhapchuphongkham">Tài khoản bác sĩ</a>
                <a href="dangnhap">Tài khoản khách hàng</a>
            </div>
        </div>
    </div>
    <div class="search">    
        <input placeholder="Search" type="text"/>
        <a class="phone" href="#">
            <i class="fas fa-phone"></i> 1900 8059
        </a>
        <a class="appointment" href="datlich">
            <i class="fas fa-calendar-alt"></i> Đặt lịch hẹn
        </a>
    </div>
</div>
