  <!-- Header -->
  <div class="header">
    {% comment %} <h1 style="text-align: center; color: #2c3e50; margin-top: 20px;">
        <a href="trangchu" style="text-decoration: none; color: #e74c3c;">
            <strong>Trắng Sáng</strong>
            
        </a>
    </h1> {% endcomment %}
    <a href="trangchu"><img alt="Company Logo" src="https://byvn.net/nJLp" width="100" height="300"/></a>

    
    <div class="menu">
        <a href="trangchu">Trang Chủ</a>
        <a href="gioithieu">Giới Thiệu</a>
        <a href="uudai">Ưu Đãi</a>
        <a href="banggia">Bảng Giá</a>
        <div class="dropdown">
            <a href="">Dịch Vụ <i class="fas fa-chevron-down"></i></a>
            <div class="dropdown-content">
                <a href="trongrangimplant">Trồng Răng Implant</a>
                <a href="niengrang">Niềng Răng</a>
                <a href="nhakhoatongquat">Nha Khoa Tổng Quát</a>
                <a href="nhakhoathammy">Nha Khoa Thẩm Mỹ</a>
                <a href="nhakhoatreem">Nha Khoa Trẻ Em</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="">Đăng nhập <i class="fas fa-chevron-down"></i></a>
            <div class="dropdown-content">
                <a href="dangnhapchuphongkham">Tài khoản bác sĩ</a>
                <a href="dangnhap">Tài khoản khách hàng</a>
            </div>
        </div>
    </div>
    <div class="search">    
        <input placeholder="Search" type="text"/>
        <a class="phone" href="#">
            <i class="fas fa-phone"></i> 1900 8059
        </a>
    </div>
</div>
