<!-- Chat & Call Icons -->
<div class="chat-icons">
    <a href="https://m.me/your_facebook_id" target="_blank" class="icon messenger">
        <img src="..\..\static\home\assets\img\icons\brands\messenger.png" alt="Messenger">
        <span>Messenger</span>
    </a>
    
    <a href="https://zalo.me" target="_blank" class="icon zalo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Icon_of_Zalo.svg" alt="Zalo">
        <span>Zalo</span>
    </a>

    <a href="tel:0971616027" class="icon phone">
        <img src="..\..\static\home\assets\img\icons\brands\phone.png" alt="Phone">
        <span>Gọi ngay</span>
    </a>
</div>

