{% extends "master.html" %}

 {%block container%}
    <div class="container-xxl flex-grow-1 container-p-y">
      <div class ="row">
        <div class="col-xxl">
          <div class="card mb-6">
           
            <div class="card-body">
              <form>
                <div class="row mb-6">
                  <label class="col-sm-2 col-form-label" for="basic-default-name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tên</font></font></label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="basic-default-name" placeholder="John Doe" fdprocessedid="8yx5e">
                  </div>
                </div>
                <div class="row mb-6">
                  <label class="col-sm-2 col-form-label" for="basic-default-company"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Công ty</font></font></label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="basic-default-company" placeholder="Công ty TNHH ACME" fdprocessedid="vdk5p8">
                  </div>
                </div>
                <div class="row mb-6">
                  <label class="col-sm-2 col-form-label" for="basic-default-email"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E-mail</font></font></label>
                  <div class="col-sm-10">
                    <div class="input-group input-group-merge">
                      <input type="text" id="basic-default-email" class="form-control" placeholder="john.doe" aria-label="john.doe" aria-describedby="basic-default-email2" fdprocessedid="84n36k">
                      <span class="input-group-text" id="basic-default-email2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@example.com</font></font></span>
                    </div>
                    <div class="form-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bạn có thể sử dụng chữ cái, số và dấu chấm</font></font></div>
                  </div>
                </div>
                <div class="row mb-6">
                  <label class="col-sm-2 col-form-label" for="basic-default-phone"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Số điện thoại</font></font></label>
                  <div class="col-sm-10">
                    <input type="text" id="basic-default-phone" class="form-control phone-mask" placeholder="658 799 8941" aria-label="658 799 8941" aria-describedby="basic-default-phone" fdprocessedid="63pom">
                  </div>
                </div>
                <div class="row mb-6">
                  <label class="col-sm-2 col-form-label" for="basic-default-message"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tin nhắn</font></font></label>
                  <div class="col-sm-10">
                    <textarea id="basic-default-message" class="form-control" placeholder="Xin chào, Joe, bạn có thời gian nói chuyện không?" aria-label="Xin chào, Joe, bạn có thời gian nói chuyện không?" aria-describedby="basic-icon-default-message2"></textarea>
                  </div>
                </div>
                <div class="row justify-content-end">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" fdprocessedid="755h34"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gửi</font></font></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      <div>
    </div>
    {%endblock%} 


{% comment %} {%block content%}
  {% include 'includes/container.html' %}
{%endblock%}  {% endcomment %}