{% extends "master.html" %}

{%block header%}
    {% include '../includes/header.html' %}
{%endblock%}

{%block container%} 

<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Navigation Menu</title>  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>  
    <style>  
        

        /* Phần thân */  
        .container-xxl {  
            flex: 1; /* Chiếm không gian còn lại */  
            padding: 20px; /* Khoảng cách cho nội dung */  
        }  

        
    </style>  
</head>  
<body>  
    <!-- Phần thân -->  
    <div class="container-xxl">  
          
    </div>  
    
    
</body>  
</html>

{%endblock%}

{%block footer%}
    {% include '../includes/footer.html' %}
{%endblock%}
